<div class="col-12 fixed-bottom bg-dark text-white">


  <div class="row justify-content-center  mt-1" style="border-bottom: 1px solid">
    <div id="carouselExampleIndicators" class="carousel slide bg-dark text-white" data-ride="carousel" style="font">
      <div class="container">
        <!-- <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner itemPadding">
          <div class="carousel-item active">
            <p>The expert in anything was once a beginner. - <b>Helen Hayes</b></p>
          </div>
          <div class="carousel-item">
            <p>What we have learned from others becomes our own reflection. - <b>Ralph Waldo Emerson</b></p>
          </div>
          <div class="carousel-item">
            <p>Motivation is what gets you Started, Habit is what keeps you going. - <b>Jim Ryun</b></p>
          </div>
          <div class="carousel-item">
            <p>Education is the key to unlock the golden door of freedom. - <b>George Washington</b></p>
          </div>
          <div class="carousel-item">
            <p>The best way to predict the future is to create it. - <b>Abraham Lincoln</b></p>
          </div>
          <div class="carousel-item">
            <p>Education is the most powerful Weapon which you can Use to change the world. - <b>Nelson Mandela</b></p>
          </div>
          <div class="carousel-item">
            <p>A person who never made a mistake Never tried anything New. - <b>Albert Einstein</b></p>
          </div>
        </div>

        <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
    </div>
  </div>
  <div class="row mx-4">
    <table style="font-size:12px;color:white; width:100%; text-align: left;" id="bottomTable">
      <tr>
        <th>Contact Us:</th>
        <th>Address:</th>
        <th>Follow Us:</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <i class="fa fa-phone-square" style="font-size:16px"></i>&nbsp 8421155344, 860008035 &nbsp <br>
          <i class="fa fa-envelope-o" style="font-size:16px"></i>&nbsp sgsacademypune@gmail.com &nbsp</td>
        <td>
          SGS ACADEMY <br>
          Office no.209, Suratwala Mark Plazzo, Opp. Indian Oil Petrol Pump,
          Hinjewadi Phase-I, Pune 411057 </td>
        <td style="font-size:24px">
          <i class="fa fa-facebook-square" style="font-size:24px"></i>
          <i class="fa fa-twitter-square" style="font-size:24px"></i>
          <i class="fa fa-linkedin-square" style="font-size:24px"></i>
        </td>
        <td style="text-align: center; font-size:16px"> Copyright © 2015 SGS ACADEMY </td>
      </tr>
    </table>
  </div>
</div>
