<div class="row">
  <nav class="navbar navbar-expand-sm navbar-dark fixed-bottom" style="background:black">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">IMP Links</div>
      <div class="card-body text-secondary">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Online Exam</a></li>
          <li><a href="#">Testimonial</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">About Us</div>
      <div class="card-body text-secondary">
        <p>We the SGS Academy has been founded in April 2014 at Hinjewadi phase one, Pune. We are a premier training institute providing the categorized training programs for the various competitive exams like GRE/GMAT/SAT/IELTS/TOEFL and IELTS.
          Apart
          from this we also provide training for the various foreign languages,it will add a value in ones resume and provides a platform to get a job in leading MNC.We also offer training in CAD/CFD/FEA from industry experts. Our trainers are MTech
          and PhD’s from leading IITs.</p>
      </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Contact Us</div>
      <div class="card-body text-secondary">
        <p>SGS ACADEMY
          Office no.209, Suratwala Mark Plazzo, Opp. Indian Oil Petrol Pump, Hinjewadi Phase-I, Pune 411057 <br>
          Contact: 8421155344, 9960941613; <br>
          Email :sgsacademypune@gmail.com</p>
      </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Follow Us</div>
      <div class="card-body text-secondary">
        <ul>
          <li><a href="https://www.facebook.com/SGSAcademy/">Facebook</a></li>
          <li><a href="http://sgsacademy.in/servises/#">Twitter</a></li>
          <li><a href="http://sgsacademy.in/servises/#">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
