<div class="container">
  <h3 class="card-header text-center mb-3">OverSeas Entrance Exam</h3>


  <div class="table100 ver2 m-b-110" style="width:100%;">
    <p>Prospective graduate applicants take the General Test. GRE test scores are used by admissions or fellowship panels to supplement undergraduate records and other qualifications for graduate study. The scores provide common measures for
      comparing the qualifications of applicants and aid in evaluating grades and recommendations.</p>
    <p> <b>When and Where is it conducted?</b> </p>
    <p>The GRE Test is offered year-round at computer-based test centers at Mumbai, Ahmadabad, Allahabad, Bangalore, Calcutta, Hyderabad, Delhi, Chennai and Trivandrum. You can register for the test by logging on to www.gre.org. Please note that
      there is a lot of rush to take these tests during July to January period. It is always advantageous to register on time. Pass port is necessary on the date of your test.
      Here’s how, a typical GRE format might look like:</p>

    <table data-vertable="ver2" id="examTable">
      <thead>
        <tr class="row100 head">
          <th class="column100 column1" data-column="column1">Section</th>
          <th class="column100 column2" data-column="column2">Time(Minutes)</th>
          <th class="column100 column3" data-column="column3">No. Of Questions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row100">
          <td class="column100 column1" data-column="column1">Analytical Writing Assessment</td>
          <td class="column100 column2" data-column="column2">45</td>
          <td class="column100 column3" data-column="column3">1</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Present your Perspective as an Issue
            Analyze an Argument</td>
          <td class="column100 column2" data-column="column2">30</td>
          <td class="column100 column3" data-column="column3">1</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Verbal Ability</td>
          <td class="column100 column2" data-column="column2">30</td>
          <td class="column100 column3" data-column="column3">30</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Antonyms, Analogies, Sentence Completion and Reading Comprehension (Questions will be intermingled)</td>
          <td class="column100 column2" data-column="column2">--</td>
          <td class="column100 column3" data-column="column3">--</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Quantitative Ability</td>
          <td class="column100 column2" data-column="column2">45</td>
          <td class="column100 column3" data-column="column3">28</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Quantitative comparison and Maths Ability (Questions will be intermingled)</td>
          <td class="column100 column2" data-column="column2">45</td>
          <td class="column100 column3" data-column="column3">28</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Experimental Section (one of the following)</td>
          <td class="column100 column2" data-column="column2">Varies</td>
          <td class="column100 column3" data-column="column3">Varies</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Verbal or Quantitative</td>
          <td class="column100 column2" data-column="column2">Varies</td>
          <td class="column100 column3" data-column="column3">Varies</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Research Section (May be included)</td>
          <td class="column100 column2" data-column="column2">Varies</td>
          <td class="column100 column3" data-column="column3">Varies</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<style media="screen">
  /*//////////////////////////////////////////////////////////////////
[ Image ]*/
  .image_exam {
    width: 60%;
  }


  /*//////////////////////////////////////////////////////////////////
[ Table ]*/

  .limiter {
    width: 100%;
    margin: 0 auto;
  }

  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #d1d1d1;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }

  .wrap-table100 {
    width: 1300px;
  }


  /*//////////////////////////////////////////////////////////////////
[ Table ]*/
  #examTable {
    width: 100%;
    background-color: #fff;
  }

  th,
  td {
    font-weight: unset;
    padding-right: 10px;
  }

  .column100 {
    width: 130px;
    padding-left: 25px;
  }

  .column100.column1 {
    width: 250px !important;
    padding-left: 42px;
    font-weight: bold;
  }

  .row100.head th {
    padding-top: 24px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  .row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
  }

  /*==================================================================
[ Ver2 ]*/
  .table100.ver2 td {
    font-family: Montserrat-Regular;
    font-size: 14px !important;
    color: #000000 !important;
    line-height: 1.4 !important;
  }

  .table100.ver2 th {
    font-family: Montserrat-Medium;
    font-size: 16px !important;
    color: #fff;
    line-height: 1.4 !important;
    text-transform: uppercase;

    background-color: #333333;
  }

  .table100.ver2 .row100:hover td {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-ver2 {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-head-ver2 {
    background-color: #484848 !important;
  }

  .table100.ver2 .row100 td:hover {
    background-color: #57b846;
    color: #fff;
  }

  /*==================================================================
[ Ver2 ]*/
  .table100.ver2 tbody tr:nth-child(even) {
    background-color: #eaf8e6;
  }

  .table100.ver2 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
  }

  .table100.ver2 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;

    background-color: #333333;
  }

  .table100.ver2 .row100:hover td {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-ver2 {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-head-ver2 {
    background-color: #484848 !important;
  }

  .table100.ver2 .row100 td:hover {
    background-color: #57b846;
    color: #fff;
  }
</style>
