<div class="container">
  <h3 class="card-header text-center mb-3">OverSeas Entrance Exam</h3>


  <div class="table100 ver2 m-b-110" style="width:100%;">
    <table data-vertable="ver2" id="examTable">
      <thead>
        <tr class="row100 head">
          <th class="column100 column1" data-column="column1"></th>
          <th class="column100 column2" data-column="column2">GRE</th>
          <th class="column100 column3" data-column="column3">GMAT</th>
          <th class="column100 column4" data-column="column4">SAT</th>
          <th class="column100 column5" data-column="column5">PTE</th>
          <th class="column100 column6" data-column="column6">TOEFL</th>
          <th class="column100 column7" data-column="column7">IELTS</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row100">
          <td class="column100 column1" data-column="column1">Sections</td>
          <td class="column100 column2" data-column="column2">*Quantitative *Verbal *Analytical *Writing</td>
          <td class="column100 column3" data-column="column3">*Quantitative *Verbal *Analytical *Writing *Logical *Reasoning</td>
          <td class="column100 column4" data-column="column4">*Quantitative *Verbal *Analytical *Writing</td>
          <td class="column100 column5" data-column="column5">*Reading *Writing *Speaking *Listening</td>
          <td class="column100 column6" data-column="column6">*Reading *Writing *Speaking *Listening</td>
          <td class="column100 column7" data-column="column7">*Reading *Writing *Speaking *Listening</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Score On</td>
          <td class="column100 column2" data-column="column2">340</td>
          <td class="column100 column3" data-column="column3">800</td>
          <td class="column100 column4" data-column="column4">2400</td>
          <td class="column100 column5" data-column="column5">10-90</td>
          <td class="column100 column6" data-column="column6">120</td>
          <td class="column100 column7" data-column="column7">9</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Accepted In</td>
          <td class="column100 column2" data-column="column2">Master's in USA, Germany, Canada</td>
          <td class="column100 column3" data-column="column3">MBA - Worldwide</td>
          <td class="column100 column4" data-column="column4">For Undergraduate studies in USA and Singapore</td>
          <td class="column100 column5" data-column="column5">Australia, Canada, New Zealand and some colleges in USA</td>
          <td class="column100 column6" data-column="column6">Mandatory for any course in the USA, Germany,Canada</td>
          <td class="column100 column7" data-column="column7">UK, Australia, Canada, New Zealand and some colleges in USA</td>
        </tr>

        <tr class="row100">
          <td class="column100 column1" data-column="column1">Validity</td>
          <td class="column100 column2" data-column="column2">5 Years</td>
          <td class="column100 column3" data-column="column3">5 Years</td>
          <td class="column100 column4" data-column="column4">5 Years</td>
          <td class="column100 column5" data-column="column5">2 Years</td>
          <td class="column100 column6" data-column="column6">2 Years</td>
          <td class="column100 column7" data-column="column7">2 Years</td>
        </tr>
      </tbody>
    </table>
    <img src="/images/exam.jpg" class="image_exam mb-3 mr-4" alt="">
  </div>





</div>

<style media="screen">
  /*//////////////////////////////////////////////////////////////////
[ Image ]*/
  .image_exam {
    width: 60%;
  }


  /*//////////////////////////////////////////////////////////////////
[ Table ]*/

  .limiter {
    width: 100%;
    margin: 0 auto;
  }

  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #d1d1d1;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }

  .wrap-table100 {
    width: 1300px;
  }


  /*//////////////////////////////////////////////////////////////////
[ Table ]*/
  #examTable {
    width: 100%;
    background-color: #fff;
  }

  th,
  td {
    font-weight: unset;
    padding-right: 10px;
  }

  .column100 {
    width: 130px;
    padding-left: 25px;
  }

  .column100.column1 {
    width: 200px !important;
    padding-left: 42px;
    font-weight: bold;
  }

  .row100.head th {
    padding-top: 24px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  .row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
  }

  /*==================================================================
[ Ver2 ]*/
  .table100.ver2 td {
    font-family: Montserrat-Regular;
    font-size: 14px !important;
    color: #000000 !important;
    line-height: 1.4 !important;
  }

  .table100.ver2 th {
    font-family: Montserrat-Medium;
    font-size: 16px !important;
    color: #fff;
    line-height: 1.4 !important;
    text-transform: uppercase;

    background-color: #333333;
  }

  .table100.ver2 .row100:hover td {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-ver2 {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-head-ver2 {
    background-color: #484848 !important;
  }

  .table100.ver2 .row100 td:hover {
    background-color: #57b846;
    color: #fff;
  }

  /*==================================================================
[ Ver2 ]*/
  .table100.ver2 tbody tr:nth-child(even) {
    background-color: #eaf8e6;
  }

  .table100.ver2 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
  }

  .table100.ver2 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;

    background-color: #333333;
  }

  .table100.ver2 .row100:hover td {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-ver2 {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-head-ver2 {
    background-color: #484848 !important;
  }

  .table100.ver2 .row100 td:hover {
    background-color: #57b846;
    color: #fff;
  }
</style>
