<div class="container border border-secondary" id="contact_container">
  <h3 class="card-header text-center mt-3 border border-dark">Contact-Us</h3>
  <div id="main_content">
    <p>
    <b>  SGS ACADEMY, </b> <br>
    Office no.209, Suratwala Mark Plazzo, <br>
    Opp. Reliance digital, near HP petrol pump, <br>
    Hinjewadi Road, Pune 411057 <br>
    Contact: 8421155344, 8600080356; <br>
    Email :sgsacademypune@gmail.com <br>
    </p>
  </div>
</div>

<style>
  #contact_container {
    border-width: medium !important;
    border-radius: 5px;
  }

  body {
    font-family: helvetica;
    border: 1px;
  }

  .responsive {
    padding: 0 8px;
    padding-bottom: 8px;
    float: left;
    width: 24.99999%;
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }

  #main_content {
    margin-top: 50px;
    /* width: 100%; */
  }

  #main_content #page_content {
    padding: 10px;
    margin-top: 9px;
    border-radius: 0px 5px 5px 5px !important;
    color: #2E2E2E;
    line-height: 1.6em;
    word-spacing: 4px;
  }
</style>
