<div class="container border border-secondary" id="gallery_container">
  <h3 class="card-header text-center mt-3 border border-dark">Gallery</h3>
  <div id="main_content">
    <ul id="main_li">
      <li class="selected" id="page1" onclick="change_tab(this.id);">Moments at SGS!</li>
      <li class="notselected" id="page2" onclick="change_tab(this.id);">Seminar</li>
      <li class="notselected" id="page3" onclick="change_tab(this.id);">Score and Visa</li>
    </ul>

    <!-- *********** Score Card Images Page *********** -->
    <div class='hidden_desc' id="page1_desc">
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0008.jpg" alt="SGS Monsoon Offer">
            <img src="images/seminar/IMG-20160929-WA0008.jpg" alt="SGS Monsoon Offer" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0009.jpg">
            <img src="images/seminar/IMG-20160929-WA0009.jpg" alt="United we stand, Divided we fall" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0010.jpg">
            <img src="images/seminar/IMG-20160929-WA0010.jpg" alt="Team Outing" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <!-- ******************************************** -->

    <!-- *********** Seminar Images Page *********** -->
    <div class='hidden_desc' id="page2_desc">
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0008.jpg" alt="SGS Monsoon Offer">
            <img src="images/seminar/IMG-20160929-WA0008.jpg" alt="SGS Monsoon Offer" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0009.jpg">
            <img src="images/seminar/IMG-20160929-WA0009.jpg" alt="United we stand, Divided we fall" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0010.jpg">
            <img src="images/seminar/IMG-20160929-WA0010.jpg" alt="Team Outing" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0013.jpg">
            <img src="images/seminar/IMG-20160929-WA0013.jpg" alt="Cherishing happy seminar - 100 students completion" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0015.jpg">
            <img src="images/seminar/IMG-20160929-WA0015.jpg" alt="SGS takes you a step ahead" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0017.jpg">
            <img src="images/seminar/IMG-20160929-WA0017.jpg" alt="Looking forward to 2016 with a smile" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <!-- ******************************************** -->

    <!-- *********** Moment at SGS Images Page *********** -->
    <div class='hidden_desc' id="page3_desc">
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/sgs-monsoon-offers.jpg" alt="SGS Monsoon Offer">
            <img src="images/moments/sgs-monsoon-offers.jpg" alt="SGS Monsoon Offer" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/United-we-stand-divided-we-fall.jpg">
            <img src="images/moments/United-we-stand-divided-we-fall.jpg" alt="United we stand, Divided we fall" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Team-outing.jpg">
            <img src="images/moments/Team-outing.jpg" alt="Team Outing" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Cherishing-happy-moments-100-students-completion..jpg">
            <img src="images/moments/Cherishing-happy-moments-100-students-completion..jpg" alt="Cherishing happy moments - 100 students completion" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/SGS-takes-you-a-step-ahead..jpg">
            <img src="images/moments/SGS-takes-you-a-step-ahead..jpg" alt="SGS takes you a step ahead" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Looking-forward-to-2016-with-a-smile..jpg">
            <img src="images/moments/Looking-forward-to-2016-with-a-smile..jpg" alt="Looking forward to 2016 with a smile" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Lectures.jpg">
            <img src="images/moments/Lectures.jpg" alt="Lectures" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Happy-times.jpg">
            <img src="images/moments/Happy-times.jpg" alt="Happy Times" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Group-work.jpg">
            <img src="images/moments/Group-work.jpg" alt="Group Work" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Creating-memories-that-last-long..jpg">
            <img src="images/moments/Creating-memories-that-last-long..jpg" alt="Creating memories that last long" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Christmas-celebrations.jpg">
            <img src="images/moments/Christmas-celebrations.jpg" alt="Christmas celebrations" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Celebrating-69-years-of-independence.jpg">
            <img src="images/moments/Celebrating-69-years-of-independence.jpg" alt="Celebrating 69 years of independence" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Success-of-SGS-Students.jpg">
            <img src="images/moments/Success-of-SGS-Students.jpg" alt="Success of SGS Students" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/IMG-20160929-WA0004.jpg">
            <img src="images/moments/IMG-20160929-WA0004.jpg" alt="" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/IMG-20160929-WA0011.jpg">
            <img src="images/moments/IMG-20160929-WA0011.jpg" alt="" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/IMG-20160929-WA00131.jpg">
            <img src="images/moments/IMG-20160929-WA00131.jpg" alt="" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/IMG-20160929-WA0014.jpg">
            <img src="images/moments/IMG-20160929-WA0014.jpg" alt="" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/IMG-20160929-WA0016.jpg">
            <img src="images/moments/IMG-20160929-WA0016.jpg" alt="" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/Celebrating-birthdays..jpg">
            <img src="images/moments/Celebrating-birthdays..jpg" alt="Celebrating Birthdays" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/moments/IMG-20160929-WA0012.jpg">
            <img src="images/moments/IMG-20160929-WA0012.jpg" alt="" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <!-- ******************************************** -->

    <!-- *********** Overview Page *********** -->
    <div id="page_content">
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0008.jpg" alt="SGS Monsoon Offer">
            <img src="images/seminar/IMG-20160929-WA0008.jpg" alt="SGS Monsoon Offer" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0009.jpg">
            <img src="images/seminar/IMG-20160929-WA0009.jpg" alt="United we stand, Divided we fall" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="images/seminar/IMG-20160929-WA0010.jpg">
            <img src="images/seminar/IMG-20160929-WA0010.jpg" alt="Team Outing" width="600" height="400">
          </a>
          <div class="desc">Add a description of the image here</div>
        </div>
      </div>

      <div class="clearfix"></div>

    </div>
  </div>
</div>

<script>
  function change_tab(id) {
    document.getElementById("page_content").innerHTML = document.getElementById(id + "_desc").innerHTML;
    document.getElementById("page1").className = "notselected";
    document.getElementById("page2").className = "notselected";
    document.getElementById("page3").className = "notselected";
    document.getElementById(id).className = "selected";
  }
</script>


<style>
  #gallery_container {
    border-width: medium!important;
    border-radius: 5px;
  }

  /* Image Gallery Styling */
  div.gallery {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
    padding: 3px;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  .responsive {
    padding: 0 8px;
    padding-bottom: 8px;
    float: left;
    width: 24.99999%;
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }



  #main_content {
    margin-top: 50px;
    /* width: 100%; */
  }

  #main_li li {
    display: inline;
    list-style-type: none;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    color: #292A0A;
    font-weight: bold;
    cursor: pointer;
  }

  /* Main content styling */
  #main_li li.notselected {
    background-color: #85c1e9;
    color: #292A0A;
  }

  #main_li li.selected {
    background-color: #2e86c1;
    color: #292A0A;
  }

  #main_content .hidden_desc {
    display: none;
    visibility: hidden;
  }

  #main_content #page_content {
    padding: 10px;
    margin-top: 9px;
    border-radius: 0px 5px 5px 5px !important;
    color: #2E2E2E;
    line-height: 1.6em;
    word-spacing: 4px;
  }
</style>
