<div class="container  border border-secondary" id="tesdtimonial_container">
  <div class="card mb-2">
    <div class="card-block">
      <div class="row">
        <div class="col-lg-2">
          <img class="user_image mt-2" src="/images/female_icon.jpg">
        </div>
        <div class="col-lg offset-lg-1">
          <h4 class="card-title">Dhanashri Zambore</h4>
          <p class="card-text">SGS Academy have lead me to fulfill my dream to study in USA. Today because of their help and guidance, I am going to stay in the state of Florida and complete my Master degree from Florida International University.
            Most of my work was dealed through telephone calls which actually saved my time from travelling.</p>
          <p>June 25, 2016</p>
        </div>
      </div>
    </div>
  </div>
  <!--/card-block-->
  <div class="card mb-2">
    <div class="card-block">
      <div class="row">
        <div class="col-lg-2">
          <img class="user_image" src="/images/pralhad-150x150.jpg">
        </div>
        <div class="col-lg offset-lg-1">
          <h4 class="card-title">Praladh Sapare</h4>
          <p class="card-text">It gives me immense pleasure to write about SGS Academy. I became a part of this center last year in September when I decided to pursue my Master’s degree abroad. Since I was pretty late to decide on my study plans,
            Well… I had a lot of help from Ganesh Sir and Kulkarni Sir for</p>
          <p>November 3, 2015</p>
        </div>
      </div>
    </div>
  </div>
  <!--/card-block-->

  <div class="card mb-2">
    <div class="card-block">
      <div class="row">
        <div class="col-lg-2">
          <img class="user_image" src="/images/male_icon.jpg">
        </div>
        <div class="col-lg offset-lg-2">
          <h4 class="card-title">Ujjwal Kumar</h4>
          <p class="card-text">It has been an amazing journey. From the day I stepped in for counselling, you guys have helped me pursue my dream to set my foot in USA. It would have been a mess and a strenuous work, if you guys wouldn’t have been
            behind my back to get my stuff done. Thanks a ton!</p>
          <p>June 7, 2017</p>
        </div>
      </div>
    </div>
  </div>
  <!--/card-block-->
  <div class="card mb-2">
    <div class="card-block">
      <div class="row">
        <div class="col-lg-2">
          <img class="user_image" src="/images/Nishant-150x150.jpg">
        </div>
        <div class="col-lg offset-lg-3">
          <h4 class="card-title">Nishant Rathi</h4>
          <p class="card-text">Hey dear friends. I am Nishant and I wish to share my experience of SGS Academy with all of you out there. This has been a life changer to me. I had always wished to get my masters from USA, from the very beginning.
            So, immediately after completing my UG, I gave GRE. Well, my</p>
          <p>June 25, 2016</p>
        </div>
      </div>
    </div>
  </div>
  <!--/card-block-->
  <div class="card mb-2">
    <div class="card-block">
      <div class="row">
        <div class="col-lg-2">
          <img class="user_image" src="/images/female_icon.jpg">
        </div>
        <div class="col-lg offset-lg-3">
          <h4 class="card-title">Swati Bhagat</h4>
          <p class="card-text">Fulfilling my dream of getting 8 Band in IELTS exam would not have been possible without the constant support of Kulkarni Sir. In spite of some of my issues and doubts being there but he was always available to solve
            them. Whenever needed I can directly talk to him without any mediator, which generally is</p>
          <p>November 3, 2015</p>
        </div>
      </div>
    </div>
  </div>
  <!--/card-block-->

</div>

<style media="screen">
  #contact_container {
    border-width: medium !important;
    border-radius: 5px;
  }

  body {
    font-family: helvetica;
    border: 1px;
  }

  .responsive {
    padding: 0 8px;
    padding-bottom: 8px;
    float: left;
    width: 24.99999%;
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }

    #main_content {
      margin-top: 50px;
      /* width: 100%; */
    }

    #main_content #page_content {
      padding: 10px;
      margin-top: 9px;
      border-radius: 0px 5px 5px 5px !important;
      color: #2E2E2E;
      line-height: 1.6em;
      word-spacing: 4px;
</style>
