body {
  padding: 10px;
  padding-bottom: 10%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbarContainer {
  padding-right: 100px;
  padding-left: 100px;
}

a:hover {
  color: #F60;
}

itemPadding {
  padding-right: 100px;
  padding-left: 100px;
}

#bottomTable {
  width: 100%;
}

.card-block {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

img.user_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
