<div class="container border border-secondary mb-3" id="introduction_container">
  <h3 class="card-header text-center mt-3 border border-dark">Introduction</h3>
  <div id="main_content">

    <img class="center" src="/images/about-us.jpg" alt="About-Us">
    <p>We the SGS Academy has been founded in April 2014 at Hinjewadi phase one, Pune. We are a training institute providing the categorized training programs for the various competitive exams in the different fields. We are a premier institute
      providing focused training for the preparation of entrance exams like GRE/GMAT/SAT/IELTS/TOEFL. These exams are mandatory’s for pursuing overseas education in universities in USA, UK, Australia, New Zealand, Canada, etc. IELTS exam is
      essential
      for emigration to Canada and Australia. Apart from this we also provide training for the foreign languages like German, French, Spanish, Chinese, and Japanese. Learning a new language is fun and consider as a best brain exercise. Knowing
      foreign
      language will add a value in ones resume and provides a platform to get a job in leading MNC.

      We also offer training in CAD/CFD/FEA from industry experts. Our trainers are MTech and PhD’s from leading IITs. We provide guidance for the various projects in FEM/CFD area. We provide guidance for resume building and for facing personal
      interview. Personality development & soft skills programs are also available for all age group.</p>
    <p>We are an institute who believes quality services are essence of long lasting success. Our mathematics faculty is a PhD holder in Mathematics from IIT Bombay. Our verbal faculty is having more than seven years of experience in teaching
      business
      English and training for various English language related exams. Our foreign language trainers are best in the field with experience of training more than 100 students.</p>
    <h3>Why SGS?</h3>

    <p>At SGS academy we guide you for the career planning, preparing of the entrance tests, BE/ ME projects, resume building and interview preparation.

      We SGS strongly believes on below points like:
      1) We provide all the required study material in soft copy.
      2) We provide more than 40 practice tests online to ensure good score in actual exam.
      3) We believe our students are our investors.
      4) We would like to be known for fast, concise and friendly service and support. We work hard to make sure we live up to that reputation every day.
      5) Basics are beautiful: we’ll never outlook what really matters: the basics. Great services, ease of use, honest training, respect for our students time, money & trust</p>
  </div>
</div>
<style>
  #introduction_container {
    border-width: medium !important;
    border-radius: 5px;
  }

  body {
    font-family: helvetica;
    border: 1px;
  }

  .responsive {
    padding: 0 8px;
    padding-bottom: 8px;
    float: left;
    width: 24.99999%;
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }

    #main_content {
      margin-top: 50px;
      /* width: 100%; */
    }

    #main_content #page_content {
      padding: 10px;
      margin-top: 9px;
      border-radius: 0px 5px 5px 5px !important;
      color: #2E2E2E;
      line-height: 1.6em;
      word-spacing: 4px;
    }

    .image_german {
      width: 100%;
      height: 100%;
      border: 3px solid #ddd;
      border-radius: 10px;
      padding: 10px;
    }
</style>
