<div class="container justify-content-center">

  <h3>Our team</h3>
  <div class="card-group">
    <div class="card mx-2">
      <div class="card-body">
        <img src="/images/Sneha_Soni.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Mrs. Sneha Soni</h5>
        <p class="card-text">CEO</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>

    </div>
    <div class="card mx-2">
      <div class="card-body">
        <img src="/images/Ankush_Rathi.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Mr. Ankush Rathi</h5>
        <p class="card-text">Director</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card mx-2">
      <div class="card-body">
        <img src="/images/Ganesh_Soni.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Mr. Ganesh Shoni</h5>
        <p class="card-text">Professor</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card mx-2">
      <div class="card-body">
        <img src="/images/R_B_Kulkarni.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Mr. R. B. Kulkarni</h5>
        <p class="card-text">Professor</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <br>
  <div class="card-group">
    <div class="card mx-2">
      <div class="card-body">
        <img src="/images/Adwait_Ainapure.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Mr. Adwait Ainapure</h5>
        <p class="card-text">Professor</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card mx-2">
      <div class="card-body">
        <img src="/images/Diksha_Barve.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Mrs. Diksha Barve</h5>
        <p class="card-text">German Language Trainer</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card mx-2">
      <div class="card-body">
        <img src="/images/Kushal_Raut.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Mr. Kushal Raut</h5>
        <p class="card-text">Professor</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card mx-2">
      <div class="card-body">
        <img src="/images/Upasana_Vohra.png" class="card-img-top" alt="...">
        <h5 class="card-title">Mrs. Upasana Vohra</h5>
        <p class="card-text">Spanish Language Trainer </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  .card {
    height: 350px !important;
  }

  .card-img-top {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
  }
</style>
