<div class="container border">
  <h3 class="card-header text-center mb-3">CAD/FEA/CFD</h3>
  <div class="row mx-1 mb-1">
    <div class="card mx-2 mb-4">
      <div class="card-block">
        <h4 class="card-header bg-primary text-white">CAD</h4>
        <p class="card-text mx-2 mb-2">Computer-aided design (CAD) is the use of computer systems to assist in the creation, modification, analysis, or optimization of adesign. CAD software is used to increase the productivity of the designer,
          improve the quality of design,
          improve communications through documentation, and to create a database for manufacturing.CAD output is often in the form of electronic files for print, machining, or other manufacturing operations.</p>
      </div>
    </div>

    <div class="card mx-2 mb-4">
      <div class="card-block">
        <h4 class="card-header bg-warning">FEA</h4>
        <p class="card-text mx-2 mb-2">The finite element analysis (FEA) is a computer-based technique. FEA is also a popular numerical methodology that is widely used to solve engineering problems. Major applications for FEA include static, dynamic
          and thermal characterizations of mechanical components or parts.</p>
      </div>
    </div>

    <div class="card mx-2 mb-4">
      <div class="card-block">
        <h4 class="card-header bg-danger text-white">CFD</h4>
        <p class="card-text mx-2 mb-2">CFD analysis or Computational Fluid Dynamics has emerged to be one of the most important fields of study that plays a pivotal role in the modern engineering environment. The significance of CFD analysis in
          engineering and manufacturing industries encompasses seamlessly calculating the fluid forces and understanding the impact of gas or liquid on the performance of a product.</p>
      </div>
    </div>
  </div>
</div>

<style media="screen">
  body {
    border: 1px;
  }
</style>
