<div class="container">
  <div class="card mx-2">
    <div class="card-header text-center">
      <h3><b>
          <img src="images/flags/united-states.png">
          <img src="images/flags/germany.png">
          <img src="images/flags/india.png">
          Foreign-Languages
          <img src="images/flags/united-kingdom.png">
          <img src="images/flags/spain.png">
          <img src="images/flags/australia.png">
        </b></h3>
    </div>


    <div class="card-body">
      <h3> Overview </h3>
      <p class="card-text">
        Learning a new language might not be all that easy, but there are many benefits indeed. Many people learn languages for many different reasons, but here I will give you 5 Amazing reasons why should we Learn a Foreign Langauage.<br><br>

        1. Meet new people and Impress people around you <br>
        2. Study or live overseas <br>
        3. Discover a new culture <br>
        4. Develop confidence <br>
        5. Improve your employability <br><br>

        Everybody has different reasons for learning a language (or not). But by now, I hope I’ve managed to convince at least some of you of the amazing rewards that learning another language can bring. Of course, it’s not an easy process, and it
        does take time and effort. But the investment is well worth it.
      </p>
      <div class="row">
        <div class="col-lg-6">
          <div class="card mx-2" style="height: 400px;">
            <div class="card-header">
              <h4> Language Course Contents </h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                <ul>
                  <li>Alphabets</li>
                  <li>Day to day conversation</li>
                  <li>Reading Techniques</li>
                  <li>Word Formations</li>
                  <li>Telephonic Conversations</li>
                  <li>Basic Vocabulary</li>
                  <li>Basic Grammar</li>
                  <li>Pronunciations</li>
                  <li>Sentence Formations</li>
                  <li>Cultural Background</li>
                  <li>Self-Introduction</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mx-2" style="height: 400px;">
            <div class="card-header">
              <h4> Training/Class Options and Durations </h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                <h5>Normal Track: 2 Months</h5>
                <p>Sessions are conducted three days of the week</p>
                <h5>Fast Track: 1 Month</h5>
                <p>Sessions are conducted five days of the week</p>
                <h5>Weekend Courses</h5>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
