<div class="container">
  <h3 class="card-header text-center mb-3">French Language</h3>
  <div class="row mx-1 mb-1">
    <div class="col1">
      <p>
        This course is for people who wish to develop basic understanding of French language. It includes basics of reading, writing, listening & speaking (Vocabulary, pronunciations, sentence framing & basic grammar)</p>
      <p>
        Activities lead learners to interact with others in varied, important and interesting situations. They do it in a natural and authentic way, according to their feelings, actual experiences and their own culture, but also in a creative and
        enjoyable way. The main objective of the themes taken up is to arouse the students’ real interest in the French society and the francophone world and to allow them to develop the know-how and techniques essential to any successful
        communication exercise.</p>
    </div>
    <div class="col2">
      <img src="/images/french.jpg" class="image_french" alt="">
    </div>
  </div>

  <p>
    Echo, Edito and Alter Ego allows students to discover a new culture, while having the benefit of hindsight on their own culture. It furthers the achievement of communicative tasks, in situations close to the real life, as the mainspring of
    learning. According to the level, learners are brought round to acting “as in real life”. In this perspective, grammar, vocabulary and phonetics are actually tools in the service of communication skills, closely related to socio cultural
    content.</p>

  <p>It also prepares you for the DELF (Diplôme d’études en langue français) certification that is administered by the Ministry of Education, France. Know more at the <a href="http://www.education.gouv.fr/">Official Site</a></p>
</div>

<style media="screen">
  .col1 {
    width: 70%;
  }

  .col2 {
    width: 30%;
  }

  .image_french {
    width: 100%;
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
  }
</style>
