<div class="container">
  <div id="main_content">
    <ul id="main_li">
      <li class="selected" id="page1" onclick="change_tab(this.id);">Overview</li>
      <li class="notselected" id="page2" onclick="change_tab(this.id);">German</li>
      <li class="notselected" id="page3" onclick="change_tab(this.id);">French</li>
      <li class="notselected" id="page4" onclick="change_tab(this.id);">Spanish</li>
    </ul>

    <!-- *********** By Default Overview Page *********** -->
    <div class='hidden_desc' id="page1_desc">
      <div class="container">
        <div class="card mx-2">
          <div class="card-header text-center">
            <h3><b>
                <img src="/images/flags/united-states.png">
                <img src="/images/flags/germany.png">
                <img src="/images/flags/india.png">
                Foreign-Languages
                <img src="/images/flags/united-kingdom.png">
                <img src="/images/flags/spain.png">
                <img src="/images/flags/australia.png">
              </b></h3>
          </div>
          <div class="card-body">
            <h3> Overview </h3>
            <p class="card-text">
              Learning a new language might not be all that easy, but there are many benefits indeed. Many people learn languages for many different reasons, but here I will give you 5 Amazing reasons why should we Learn a Foreign Langauage.<br><br>
              1. Meet new people and Impress people around you <br>
              2. Study or live overseas <br>
              3. Discover a new culture <br>
              4. Develop confidence <br>
              5. Improve your employability <br><br>
              Everybody has different reasons for learning a language (or not). But by now, I hope I’ve managed to convince at least some of you of the amazing rewards that learning another language can bring. Of course, it’s not an easy process,
              and it
              does take time and effort. But the investment is well worth it.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <div class="card mx-2" style="height: 400px;">
                  <div class="card-header">
                    <h4> Language Course Contents </h4>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      <ul>
                        <li>Alphabets</li>
                        <li>Day to day conversation</li>
                        <li>Reading Techniques</li>
                        <li>Word Formations</li>
                        <li>Telephonic Conversations</li>
                        <li>Basic Vocabulary</li>
                        <li>Basic Grammar</li>
                        <li>Pronunciations</li>
                        <li>Sentence Formations</li>
                        <li>Cultural Background</li>
                        <li>Self-Introduction</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card mx-2" style="height: 400px;">
                  <div class="card-header">
                    <h4> Training/Class Options and Durations </h4>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      <h5>Normal Track: 2 Months</h5>
                      <p>Sessions are conducted three days of the week</p>
                      <h5>Fast Track: 1 Month</h5>
                      <p>Sessions are conducted five days of the week</p>
                      <h5>Weekend Courses</h5>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ******************************************** -->

    <!-- *********** German Language Page *********** -->
    <div class='hidden_desc' id="page2_desc">
      <div class="container">
        <div class="card mx-2">
          <h3 class="card-header text-center mb-3">German Language</h3>
          <div class="row mx-2 mb-2">
            <div class="col1">
              <p>
                Some Facts about German Language: - It is one of the world’s major languages and the most widely spoken first language in the European Union. Globally, German is spoken by approximately 105 million native speakers and also by about
                80
                million
                non-native speakers. <br>
                Germany hasthe third largest economy in the world and is the economic powerhouse of the European Union. And don’t forget that Switzerland, another German-speaking country, has one of the highest standards of living in the world. </p>
              <p>
                Germany’s economic strength equals business opportunities. Multinational business opportunities exist throughout the European Union and in the Eastern European countries, where German is the second most spoken language after Russian.
                Companies
                like BMW, Daimler, Siemens, Lufthansa, SAP, Bosch, Infineon, BASF, and many others need international partners. The Japanese, who have the 2nd most powerful economy in the world, understand the business advantages that a knowledge of
                German
                will
                bring them: 68% of Japanese students study German.</p>
            </div>
            <div class="col2">
              <img src="/images/german2.jpg" class="image_german" alt="">
            </div>
          </div>
          <div class="row mx-2 mb-2">
            <p>
              If you’re looking for employment in the United States, knowing German can give you great advantages. German companies account for 700,000 jobs in the United States, and US companies have created approximately the same number of jobs in
              Germany.
              All other things being equal, the job candidate with German skills will trump the one without such skills every time. Most surveyed companies in the United States would choose someone with German literacy over an equally qualified
              candidate.</p>
            <div class="col3">
              <img src="/images/german.jpg" class="image_german2" style="height:200px;width:400px" alt="">
            </div>
            <div class="col4">
              <p><b>
                  If English is your native language, or if you already know English, then you already have an advantage when it comes to learning German. Because modern German and modern English both evolved from the common ancestor language
                  Germanic, the
                  two languages share many similarities in both vocabulary and grammar. If you understand any of this …</b></p>
              <p><i><b>Meine Schwester hat braunes Haar. Sie ist intelligent. Sie studiert Medizin in Berlin. Sie kann gut singen.</b></i></p>
              <p>… then you already know some German!</p>
            </div>
            <p>In addition, German is spelled phonetically. Once you learn the system of sounds, it is easy to predict how the spoken word is written and how the written word is pronounced.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ******************************************** -->

    <!-- *********** French Language Page *********** -->
    <div class='hidden_desc' id="page3_desc">
      <div class="container">
        <div class="card mx-2">
          <h3 class="card-header text-center mb-3">French Language</h3>
          <div class="row mx-2 mb-2">
            <div class="col1">
              <p>
                This course is for people who wish to develop basic understanding of French language. It includes basics of reading, writing, listening & speaking (Vocabulary, pronunciations, sentence framing & basic grammar)</p>
              <p>
                Activities lead learners to interact with others in varied, important and interesting situations. They do it in a natural and authentic way, according to their feelings, actual experiences and their own culture, but also in a
                creative
                and
                enjoyable way. The main objective of the themes taken up is to arouse the students’ real interest in the French society and the francophone world and to allow them to develop the know-how and techniques essential to any successful
                communication exercise.</p>
            </div>
            <div class="col2">
              <img src="/images/french.jpg" class="image_french" alt="">
            </div>
          </div>
          <div class="row mx-2 mb-2">
            <p>
              Echo, Edito and Alter Ego allows students to discover a new culture, while having the benefit of hindsight on their own culture. It furthers the achievement of communicative tasks, in situations close to the real life, as the
              mainspring
              of
              learning. According to the level, learners are brought round to acting “as in real life”. In this perspective, grammar, vocabulary and phonetics are actually tools in the service of communication skills, closely related to socio
              cultural
              content.</p>
            <p>It also prepares you for the DELF (Diplôme d’études en langue français) certification that is administered by the Ministry of Education, France. Know more at the <a href="http://www.education.gouv.fr/">Official Site</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ********************************************* -->

    <!-- *********** Spanish Language Page *********** -->
    <div class='hidden_desc' id="page4_desc">
      <div class="container">
        <div class="card mx-2">
          <h3 class="card-header text-center mb-3">Spanish Language</h3>
          <div class="row mx-2 mb-2">
            <div class="col1">
              <p>
                Our world is a melting pot of many different people coming from different ethnicities and cultures. In such a diverse world with so many people, it is imperative for one to know how to communicate with others. While there may be
                many
                reasons
                to choose to learn a second language, choosing to learn Spanish will definitely help you in a variety of ways. </p>
              <p>Spanish is spoken by 400 million people worldwide. Yes, that’s right, 400 million more people for you to speak with! It is the official language in 21 countries and is the third most spoken language in the world after English and
                Mandarin.
                The Spanish-speaking population is one of the fastest growing segments in the world today, comprising of a huge community that shares products, services and culture, and at the same time offering individuals, institutions and
                businesses a
                unique opportunity for growth! </p>
            </div>
            <div class="col2">
              <img src="/images/spanish.jpg" class="image_spanish" alt="">
            </div>
          </div>
          <div class="row mx-2 mb-2">
            <p>
              Traditionally, learning a new language meant that you could land a job with an embassy or in the tourism sector. However, with the ever increasing globalisation, companies in the IT sector, Pharmaceutical sector, MNC banks and export
              houses are
              looking for large number of people who can work with them as language experts.</p>
            <p>
              From TCS to Satyam to Indian Companies who have opened development centers or acquired companies all across Latin America. Further, India also has Spanish companies setting up businesses in India including Inditex Textile Company,
              Agroalimen.
              India’s trade with Latin America had increased by 45% in 2008 while India’s exports increased by 40%. India’s exports to Latin America have increased by nearly 6 times in the past 10 years from 1996-1997 to 2005-2006. <b>However, the
                demand for
                Spanish speaking talent easily exceeds the supply for them!</b></p>
            <p>
              For those who worry that they would end up with voice jobs, BPOs have a lot more work profiles to offer. With the knowledge of a foreign language, you could easily land up a translation job, or if you have good command of the
              language,
              you
              may
              land up with a profile that involves both, technical and language support.</p>
            <p>
              However, for others who are not planning to work anytime soon and would rather go abroad, again, you are in luck! If you are planning to go to the United States, Spanish would be of great help especially since it is spoken by more
              than
              half of
              the people in the American continent. There are more Spanish speakers than there are speakers of French, Hawaiian and the Native American languages combined. Moreover, experts predict that by the year 2050, there will be 530 million
              Spanish
              speakers, of which 100 million will be living in the U.S.</p>
            <p>
              Even if you do not want to go abroad, knowledge of a foreign language always has an advantage, and it can definitely open doors. Companies always go in for candidates who have a working knowledge in a foreign language, so why
              shouldn’t
              you
              learn
              something that is easy to learn? After all, Spanish is one of the few languages that is almost completely phonetic, making it easier to write!</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ************************************* -->

    <!-- *********** Overview Page *********** -->
    <div id="page_content">
      <div class="container">
        <div class="card mx-2">
          <div class="card-header text-center">
            <h3><b>
                <img src="/images/flags/united-states.png">
                <img src="/images/flags/germany.png">
                <img src="/images/flags/india.png">
                Foreign-Languages
                <img src="/images/flags/united-kingdom.png">
                <img src="/images/flags/spain.png">
                <img src="/images/flags/australia.png">
              </b></h3>
          </div>
          <div class="card-body">
            <h3> Overview </h3>
            <p class="card-text">
              Learning a new language might not be all that easy, but there are many benefits indeed. Many people learn languages for many different reasons, but here I will give you 5 Amazing reasons why should we Learn a Foreign Langauage.<br><br>
              1. Meet new people and Impress people around you <br>
              2. Study or live overseas <br>
              3. Discover a new culture <br>
              4. Develop confidence <br>
              5. Improve your employability <br><br>
              Everybody has different reasons for learning a language (or not). But by now, I hope I’ve managed to convince at least some of you of the amazing rewards that learning another language can bring. Of course, it’s not an easy process,
              and it
              does take time and effort. But the investment is well worth it.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <div class="card mx-2" style="height: 400px;">
                  <div class="card-header">
                    <h4> Language Course Contents </h4>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      <ul>
                        <li>Alphabets</li>
                        <li>Day to day conversation</li>
                        <li>Reading Techniques</li>
                        <li>Word Formations</li>
                        <li>Telephonic Conversations</li>
                        <li>Basic Vocabulary</li>
                        <li>Basic Grammar</li>
                        <li>Pronunciations</li>
                        <li>Sentence Formations</li>
                        <li>Cultural Background</li>
                        <li>Self-Introduction</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card mx-2" style="height: 400px;">
                  <div class="card-header">
                    <h4> Training/Class Options and Durations </h4>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      <h5>Normal Track: 2 Months</h5>
                      <p>Sessions are conducted three days of the week</p>
                      <h5>Fast Track: 1 Month</h5>
                      <p>Sessions are conducted five days of the week</p>
                      <h5>Weekend Courses</h5>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************* -->
</div>

<!-- *********** Script *********** -->
<script>
  function change_tab(id) {
    document.getElementById("page_content").innerHTML = document.getElementById(id + "_desc").innerHTML;
    document.getElementById("page1").className = "notselected";
    document.getElementById("page2").className = "notselected";
    document.getElementById("page3").className = "notselected";
    document.getElementById("page4").className = "notselected";
    document.getElementById(id).className = "selected";
  }
</script>
<!-- ****************************** -->

<!-- *********** Style *********** -->

<style media="screen">
  body {
    /* background-color: #2E3B0B; */
    /* margin: 0px auto;
    padding: 0px; */
    font-family: helvetica;
    /* height: 2000px; */
    border: 1px;
  }

  h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    color: #BEF781;
  }

  h1 p {
    text-align: center;
    margin: 0px;
    font-size: 18px;
    text-decoration: underline;
    color: white;
  }

  #main_content {
    margin-top: 50px;
    /* width: 100%; */
  }

  #main_li li {
    display: inline;
    list-style-type: none;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    color: #292A0A;
    font-weight: bold;
    cursor: pointer;
  }

  #main_li li.notselected {
    background-color: #85c1e9;
    color: #292A0A;
  }

  #main_li li.selected {
    background-color: #2e86c1;
    color: #292A0A;
  }

  #main_content .hidden_desc {
    display: none;
    visibility: hidden;
  }

  #main_content #page_content {
    /* background-color: #D0F5A9; */
    padding: 10px;
    margin-top: 9px;
    border-radius: 0px 5px 5px 5px;
    color: #2E2E2E;
    line-height: 1.6em;
    word-spacing: 4px;
  }

  /*//////////////////////////////////////////////////////////////////
  [ Layout ]*/
  .col1 {
    width: 70%;
  }

  .col2 {
    width: 30%;
  }

  .col3 {
    width: 40%;
  }

  .col4 {
    width: 60%;
  }

  /*//////////////////////////////////////////////////////////////////
[ Image ]*/
  .image_exam {
    width: 60%;
  }

  .image_german {
    width: 100%;
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
  }

  .image_german2 {
    width: 100%;
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
  }

  .image_french {
    width: 100%;
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
  }

  .image_spanish {
    width: 100%;
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
  }


  /*//////////////////////////////////////////////////////////////////
[ Table ]*/

  .limiter {
    width: 100%;
    margin: 0 auto;
  }

  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #d1d1d1;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }

  .wrap-table100 {
    width: 1300px;
  }


  /*//////////////////////////////////////////////////////////////////
[ Table ]*/
  #examTable {
    width: 100%;
    background-color: #fff;
  }

  th,
  td {
    font-weight: unset;
    padding-right: 10px;
  }

  .column100 {
    width: 130px;
    padding-left: 25px;
  }

  .column100.column1 {
    width: 200px !important;
    padding-left: 42px;
    font-weight: bold;
  }

  .row100.head th {
    padding-top: 24px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  .row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
  }

  /*==================================================================
[ Ver2 ]*/
  .table100.ver2 td {
    font-family: Montserrat-Regular;
    font-size: 14px !important;
    color: #000000 !important;
    line-height: 1.4 !important;
  }

  .table100.ver2 th {
    font-family: Montserrat-Medium;
    font-size: 16px !important;
    color: #fff;
    line-height: 1.4 !important;
    text-transform: uppercase;

    background-color: #333333;
  }

  .table100.ver2 .row100:hover td {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-ver2 {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-head-ver2 {
    background-color: #484848 !important;
  }

  .table100.ver2 .row100 td:hover {
    background-color: #57b846;
    color: #fff;
  }

  /*==================================================================
[ Ver2 ]*/
  .table100.ver2 tbody tr:nth-child(even) {
    background-color: #eaf8e6;
  }

  .table100.ver2 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
  }

  .table100.ver2 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;

    background-color: #333333;
  }

  .table100.ver2 .row100:hover td {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-ver2 {
    background-color: #83d160;
    color: #fff;
  }

  .table100.ver2 .hov-column-head-ver2 {
    background-color: #484848 !important;
  }

  .table100.ver2 .row100 td:hover {
    background-color: #57b846;
    color: #fff;
  }
</style>
