<div class="container">
  <div class="card mx-2">
    <h3 class="card-header text-center mb-3">German Language</h3>
    <div class="row">
      <div class="col1">
        <p>
          Some Facts about German Language: - It is one of the world’s major languages and the most widely spoken first language in the European Union. Globally, German is spoken by approximately 105 million native speakers and also by about 80
          million
          non-native speakers. <br>
          Germany hasthe third largest economy in the world and is the economic powerhouse of the European Union. And don’t forget that Switzerland, another German-speaking country, has one of the highest standards of living in the world. </p>
        <p>
          Germany’s economic strength equals business opportunities. Multinational business opportunities exist throughout the European Union and in the Eastern European countries, where German is the second most spoken language after Russian.
          Companies
          like BMW, Daimler, Siemens, Lufthansa, SAP, Bosch, Infineon, BASF, and many others need international partners. The Japanese, who have the 2nd most powerful economy in the world, understand the business advantages that a knowledge of
          German
          will
          bring them: 68% of Japanese students study German.</p>
      </div>
      <div class="col2">
        <img src="/images/german2.jpg" class="image_german" alt="">
      </div>
    </div>

    <p>
      If you’re looking for employment in the United States, knowing German can give you great advantages. German companies account for 700,000 jobs in the United States, and US companies have created approximately the same number of jobs in
      Germany.
      All other things being equal, the job candidate with German skills will trump the one without such skills every time. Most surveyed companies in the United States would choose someone with German literacy over an equally qualified candidate.</p>

    <div class="row">
      <div class="col3">
        <img src="/images/german.jpg" class="image_german2" style="height:200px;width:400px" alt="">
      </div>
      <div class="col4">
        <p><b>
            If English is your native language, or if you already know English, then you already have an advantage when it comes to learning German. Because modern German and modern English both evolved from the common ancestor language Germanic,
            the
            two languages share many similarities in both vocabulary and grammar. If you understand any of this …</b></p>
        <p><i><b>Meine Schwester hat braunes Haar. Sie ist intelligent. Sie studiert Medizin in Berlin. Sie kann gut singen.</b></i></p>
        <p>… then you already know some German!</p>

      </div>
    </div>



    <p>In addition, German is spelled phonetically. Once you learn the system of sounds, it is easy to predict how the spoken word is written and how the written word is pronounced.</p>
  </div>
</div>

<style media="screen">
  .col1 {
    width: 70%;
  }

  .col2 {
    width: 30%;
  }

  .col3 {
    width: 40%;
  }

  .col4 {
    width: 60%;
  }


  .image_german {
    width: 100%;
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
  }

  .image_german2 {
    width: 100%;
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
  }
</style>
