<h3>MATLAB Page</h3>
<div class="container border">
  <h3 class="card-header text-center mb-3">MATLAB</h3>
  <div class="row mx-1 mb-1" id="matlab_content">
    <p>MATLAB is a coding platform to generate the engineering output in the form of graphical format or to execute the repeated loops in the calculations. It is tool for numerical computation and visualization. The basic data element is a matrix,
      so if you need a program that manipulates array-based data it is generally fast to write and run in MATLAB</p> <br>


    <h4>Natural frequency analysis of the electric motovibrator <hr> </h4>
    <p>Natural frequency analysis of the electric motovibrator, this is electric motor design to induce vibrations, project involves 3d cad modeling , building the FE model considering the bearing stiffness into account in addition to meshing of
      complex components like motor housing, flanges, shaft and connections between them. Natural frequency and mode shapes of the motor are calculated.</p>

    <h4>Design and Analysis of lift for handicapped person <hr> </h4>
    <p>Special lift which can be operated by handicapped person is designed and linear static analysis is performed for design loads. Project include Power calculation, motor selection, rope design, lift design, 3d CAD modeling, FE model building
      and
      analysis to estimate the stresses in the lift.</p> <br>

    <h4>CFD project assistance <hr> </h4>
    <p>Experimental study and comparison of data to existing tsunami force equations.Laboratory experiments carried out with a flume to estimate tsunami-like bore forces on a vertical flexible wall. <br>
      The method proposed by Miles to estimate tsunami bore forces may yield non-conservative estimates. Tsunami bore force estimations made with the Honolulu Code, CETN, and Cross seem to be conservative in all cases studied. All the result from
      the
      CFD analysis is correlated with theoretical result.</p> <br>

    <h4>MATLAB project assistance <hr> </h4>
    <p>Carry out the FFT and Hilbert transform of the lamb wave signal which is in the form of time domain. Plotting all the waveform of signal in MATLAB
      Optimization of the turbine blade in the MATLAB.</p>

  </div>
</div>

<style media="screen">
  body {
    border: 1px;
  }

  #matlab_content hr {
    width: 100%;
    border: 1px solid  #5dade2 ;
}
  } onload=""

  #matlab_content p {
    padding-bottom: 25px;
  }

  #matlab_content h4 {
    font-weight: bold;
  }
</style>
