<div class="container">
  <h3 class="card-header text-center mb-3">Spanish Language</h3>
  <div class="row mx-1 mb-1">
    <div class="col1">
      <p>
        Our world is a melting pot of many different people coming from different ethnicities and cultures. In such a diverse world with so many people, it is imperative for one to know how to communicate with others. While there may be many reasons
        to choose to learn a second language, choosing to learn Spanish will definitely help you in a variety of ways. </p>

      <p>Spanish is spoken by 400 million people worldwide. Yes, that’s right, 400 million more people for you to speak with! It is the official language in 21 countries and is the third most spoken language in the world after English and Mandarin.
        The Spanish-speaking population is one of the fastest growing segments in the world today, comprising of a huge community that shares products, services and culture, and at the same time offering individuals, institutions and businesses a
        unique opportunity for growth! </p>
    </div>
    <div class="col2">
      <img src="/images/spanish.jpg" class="image_spanish" alt="">
    </div>
  </div>

  <p>
    Traditionally, learning a new language meant that you could land a job with an embassy or in the tourism sector. However, with the ever increasing globalisation, companies in the IT sector, Pharmaceutical sector, MNC banks and export houses are
    looking for large number of people who can work with them as language experts.</p>

  <p>
    From TCS to Satyam to Indian Companies who have opened development centers or acquired companies all across Latin America. Further, India also has Spanish companies setting up businesses in India including Inditex Textile Company, Agroalimen.
    India’s trade with Latin America had increased by 45% in 2008 while India’s exports increased by 40%. India’s exports to Latin America have increased by nearly 6 times in the past 10 years from 1996-1997 to 2005-2006. <b>However, the demand for
      Spanish speaking talent easily exceeds the supply for them!</b></p>

  <p>
    For those who worry that they would end up with voice jobs, BPOs have a lot more work profiles to offer. With the knowledge of a foreign language, you could easily land up a translation job, or if you have good command of the language, you may
    land up with a profile that involves both, technical and language support.</p>

  <p>
    However, for others who are not planning to work anytime soon and would rather go abroad, again, you are in luck! If you are planning to go to the United States, Spanish would be of great help especially since it is spoken by more than half of
    the people in the American continent. There are more Spanish speakers than there are speakers of French, Hawaiian and the Native American languages combined. Moreover, experts predict that by the year 2050, there will be 530 million Spanish
    speakers, of which 100 million will be living in the U.S.</p>

  <p>
    Even if you do not want to go abroad, knowledge of a foreign language always has an advantage, and it can definitely open doors. Companies always go in for candidates who have a working knowledge in a foreign language, so why shouldn’t you
    learn
    something that is easy to learn? After all, Spanish is one of the few languages that is almost completely phonetic, making it easier to write!</p>
</div>

<style media="screen">
  .col1 {
    width: 70%;
  }

  .col2 {
    width: 30%;
  }

  .image_spanish {
    width: 100%;
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 10px;
  }
</style>
